<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="conexionProvEventos" connectionString="SERVER=.\SQLEXPRESS;DATABASE=ProvEventos;INTEGRATED SECURITY=SSPI"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
<system.serviceModel>
        <bindings>
                <basicHttpBinding>
                        <binding name="BasicHttpBinding_IServicioCatalogo" />
                        <binding name="BasicHttpBinding_IServicioDesactivarProveedor" />
                        <binding name="BasicHttpBinding_IServicioListaProveedores" />
                        <binding name="BasicHttpBinding_IServicioProveedorXRut" />
                        <binding name="BasicHttpBinding_IServicioFileProveedores" />
                        <binding name="BasicHttpBinding_IServicioModArancelyPorcentaje" />
                        <binding name="BasicHttpBinding_IServicioServiciosFile" />
                        <binding name="BasicHttpBinding_IServicioCatalogo1" />
                </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://localhost:53127/ServicioCatalogo.svc"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioCatalogo"
                        contract="ServicioCatalogo.IServicioCatalogo" name="BasicHttpBinding_IServicioCatalogo" />
                <endpoint address="http://localhost:52129/ServicioDesactivarProveedor.svc"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioDesactivarProveedor"
                        contract="ServicioDesactivarProveedor.IServicioDesactivarProveedor"
                        name="BasicHttpBinding_IServicioDesactivarProveedor" />
                <endpoint address="http://localhost:60578/ServicioListaProveedores.svc"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioListaProveedores"
                        contract="ServicioListaProveedores.IServicioListaProveedores"
                        name="BasicHttpBinding_IServicioListaProveedores" />
                <endpoint address="http://localhost:61021/ServicioProveedorXRut.svc"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioProveedorXRut"
                        contract="ServicioProveedorXRut.IServicioProveedorXRut"
                        name="BasicHttpBinding_IServicioProveedorXRut" />
                <endpoint address="http://localhost:61631/ServicioFileProveedores.svc"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioFileProveedores"
                        contract="ServicioFileProveedores.IServicioFileProveedores"
                        name="BasicHttpBinding_IServicioFileProveedores" />
                <endpoint address="http://localhost:63059/ServicioModArancelyPorcentaje.svc"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioModArancelyPorcentaje"
                        contract="ServicioModArancelyPorcentaje.IServicioModArancelyPorcentaje"
                        name="BasicHttpBinding_IServicioModArancelyPorcentaje" />
                <endpoint address="http://localhost:58950/ServicioServiciosFile.svc"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioServiciosFile"
                        contract="ServicioServiciosFile.IServicioServiciosFile"
                        name="BasicHttpBinding_IServicioServiciosFile" />
                <endpoint address="http://localhost:53127/ServicioCatalogo.svc"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioCatalogo1"
                        contract="ServicioNuevoProv.IServicioCatalogo" name="BasicHttpBinding_IServicioCatalogo1" />
        </client>
    </system.serviceModel>
</configuration>